/* Palanath's "Notes" Stylesheet */

:root {
	font-size: 1.3em;
	font-family: sans-serif;
}

body {
	margin: 3rem;
}

h1 {
	text-align: center;
	font-size: 2.4em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: .83em;
}

h5, h6 {
	font-style: italic;
}

.small {
	font-style: italic;
	font-size: .65em;
}

.small em {
	font-style: normal;
}

.important-sight {
	background: green;
	color: #ffee00;
}